
<head>
    <title>FRC Resources: {{ resource.name }}</title>
</head>

<body>
    <h1>{{ resource.name }}</h1>

    <h2>Description</h2>
    <p>{{ resource.description }}</p>

    <h2>Type</h2>
    <p>{{ resource.type }}</p>

    <h2>Tags</h2>
    <ul>
        {% for tag in resource.tags %}
            <li>{{ tag.name }}</li>
        {% endfor %}
    </ul>

    <h2>URL</h2>
    <a href={{ resource.url }}>{{ resource.url }}</a>

</body>
